<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="presentation.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="sidebar.css" />
    <link rel="stylesheet" href="food.css" />
    <link rel="stylesheet" href="meal.css" />
    <title>Sofia Diet</title>
  </head>
  <body>
    <div id="root">
      <nav class="navbar">
        <div class="hamburger-menu">
          <div class="hamburger"></div>
          <div class="hamburger"></div>
          <div class="hamburger"></div>
        </div>
        <div class="site-title">
          <a href="./"><img src="Logo.png" alt="" srcset="" /></a>
          <p>sofiaDiet</p>
        </div>
        <!--change the text content of the version dynamically using the version class on javascript-->
        <div class="version">
          <p>version: v.0.1</p>
        </div>
      </nav>
      <hr />
      <nav class="side-bar hide">
        <a href="./diet" class="nav-link hide">Diet Plan v</a>
        <a href="./meal" class="nav-link hide">Meals v</a>
        <a href="./food" class="nav-link hide">Foods v</a>
      </nav>

      <form action="./diet" method="post">
          <div class="question">
            <div class="badge">
              <img
                src="https://uploads-ssl.webflow.com/612b579592e3bf93283444b6/612b69f61d22d5ca878550af_chevron-right.svg"
                loading="lazy"
                alt=""
                class="image-2-copy-copy"
              />
            </div>
            <p>Day of The Week ?</p>
            <input name="dietName" type="text" />
          </div>
          <table class="meal-table" style="width: 100%">
            <tr>
              <th>Meal Name</th>
              <th>Amount (g)</th>
            </tr>
            <tr>
              <td><input name="mealName" type="text" /></td>
              <td><input name="mealAmount" type="number" /></td>
            </tr>
          </table>
          <table class="meal-table" style="width: 100%">
            <tr>
              <th>Total Protein (g)</th>
              <th>Total Calories (Kcal)</th>
              <th>Total Cost (£)</th>
            </tr>
            <tr>
              <td><input type="text" /></td>
              <td><input type="number" /></td>
              <td><input type="number" /></td>
            </tr>
          </table>
          <div class="add-delete-btn">
            <div class="btn add-btn">
              <p>+</p>
            </div>
            <div class="btn delete-btn">
              <p>+</p>
            </div>
            <button class="btn create-food-btn" type="submit">
              Create
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 15 15"
                width="12"
                height="12"
                style="margin-left: 0.33em"
              >
                <g
                  stroke="currentColor"
                  stroke-width="1.75"
                  fill="none"
                  fill-rule="evenodd"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path
                    d="M4.497 1H3a2 2 0 00-2 2v9a2 2 0 002 2h9a2 2 0 002-2v-1.5h0"
                    opacity=".6"
                  ></path>
                  <path d="M9 1.008L14 1v5M14 1L6 9"></path>
                </g>
              </svg>
            </button>
      </form>
      </div>

      <a class="btn primary-btn info-btn" href="./dietDatabase">
        Diet Info
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 15 15"
          width="12"
          height="12"
          style="margin-left: 0.33em"
        >
          <g
            stroke="currentColor"
            stroke-width="1.75"
            fill="none"
            fill-rule="evenodd"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M4.497 1H3a2 2 0 00-2 2v9a2 2 0 002 2h9a2 2 0 002-2v-1.5h0"
              opacity=".6"
            ></path>
            <path d="M9 1.008L14 1v5M14 1L6 9"></path>
          </g>
        </svg>
      </a>
    </div>
    <script src="../index.js"></script>
  </body>
</html>
